<h1>Posts</h1>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <%= render post %>
        <div class="card-body">
          <%= link_to "Show this post", post, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class: "btn btn-success" %>